:root {
    --primarycolor:  #FBF8BE;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #234E70;
    justify-content: space-between;
    text-align: center;
    color: var(--primarycolor);
    padding: 20px 35px;
    
}

.header h1 {
    font-size: 35px;
}

.header .nav ul {
   list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    
}
.header .nav ul li{
    margin-top: 5px;
    
}

.header .nav ul li a {
    text-decoration: underline;
    color: var(--primarycolor);
    padding: 20px 40px;
    font-size: 25px;
    text-align: center;
    padding-bottom: 1px;
}

.hero img {
    height: 350px;
    width: 100%;
    margin-bottom: 25px;
    /* background-image: url("./images/hero.jpeg"); */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    margin:0;
}

body {
    /* background-color: rgb(220, 216, 216); */
    background-color: #234E70;
}

.profile-pic img {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    border-radius: 10px;
    position: absolute;
    top: 160px;
    border-style:inset;
    margin-left: 25px;  
}

.flexbox-container {
    display: flex;
    /* justify-content: space-around; */

}

.flexbox-item {
    width: 400px;
    margin-top: 30px;
    margin-left: 20px;
    border: 3px solid red;


}

.flexbox-item-1 {
    min-height: 100px;
    width: 250px;
    margin-left: 200px;
    /* border-right: 3px solid var(--primarycolor); */
}
.flexbox-item-1 h2 {
    color: var(--primarycolor);
    text-align: right;
    font-size: 35px;
    font-style: italic;
    padding-right: 10px;  
}

.flexbox-item-2 {
    min-height: 200px;
    width: 1000px;

}
.flexbox-item-2 p {
    font-size: 15px;
    padding-left: 10px;
    color: var(--primarycolor);
    line-height: 1.5;
}

.flexbox-item-3 {
    min-height: 100px;
    width: 250px;
    margin-left: 200px;
    /* border-right: 3px solid var(--primarycolor); */
}

.flexbox-item-3 h2 {
    color: var(--primarycolor);
    text-align: right;
    font-size: 35px;
    font-style: italic;
    padding-right: 10px;  
}

.work-flexbox-container {
    display: flex;
}

.flexbox-item-4 {
    min-height: 450px;
    width: 809px; 
}

.flexbox-item-4 figure img {
    height: 450px ;
    width: 800px;

}

.work-figcaption {
     position: relative;
    top: -50px;
    border: solid;
    font-size: 18px;
    display: inline;
    padding: 10px;
    background-color: lightgray;
    
}

.flexbox-item-5 {
    min-height: 100px;
    width: 750px; 
    margin-left: 200px;
    width: 250px;
    margin-top: 0px;
    /* border-right: 3px solid var(--primarycolor); */
}

.flexbox-item-6  {
    min-height: 200px;
    width: 390px;
    margin-top: 0;
}

.flexbox-item-6 figure img {
    height: 200px;
    width: 385px;

}

.flexbox-item-7  {
    min-height: 200px;
    width: 390px;
    margin-top: 0;
}

.flexbox-item-7 figure img {
    height: 200px;
    width: 390px;
    
}